<div layout="column" layout-fill>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h1><span>JustRun.It</span></h1>
      <span flex layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="36" ng-show="shouldShowGlobalProgressBar">
        </md-progress-circular>
      </span>
      <md-button>
        <i class="fa fa-list-alt"></i>&nbsp;&nbsp;Gallery
        <md-tooltip>Browse all snippets</md-tooltip>
      </md-button>&nbsp;
      <md-button ui-sref="snippetAdd">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;Add a snippet
        <md-tooltip>Create a new snippet</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-divider></md-divider>
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="left center">
        <div flex-gt-md="5" flex-gt-sm="10" flex-sm="15">
            <i class="md-snippet-language-icon {{ ui.snippet.langInfo.icon }}" ng-if="ui.snippet.langInfo.icon">
            </i>
        </div>
        <div flex-gt-md="50" flex-sm="50" flex-gt-sm="35" layout-fill>
            <md-input-container class="md-snippet-title">
                <label>Title</label>
                <input ng-model="ui.snippet.title" maxlength="40"></input>
            </md-input-container>
        </div>
        <div flex></div>
        <div flex-gt-md="30" flex-sm="35" flex-gt-sm="50">
            <md-button class="md-button-snippet-save" ng-click="saveSnippet()" ng-disabled="ui.state.isSaving">
                <i class="fa fa-file-text"></i><span hide-sm>&nbsp;&nbsp;Save</span>
            </md-button>
            <md-button class="md-button-snippet-run" ng-click="runSnippet()" ng-disabled="ui.state.isRunning">
                <i class="fa fa-play"></i><span hide-sm>&nbsp;&nbsp;Run</span>
            </md-button>
            <md-button ng-click="tagSnippet()">
              <i class="fa fa-tags"></i><span hide-sm>&nbsp;&nbsp;Tags<span ng-if="ui.snippet.tags.length"> ( {{ ui.snippet.tags.length }} )</span></span>
            </md-button>
            <md-button class="md-button-raised md-button-snippet-fork">
                <i class="fa fa-code-fork"></i><span hide-sm>&nbsp;&nbsp;Fork</span>
                <md-tooltip>Create a copy of this snippet</md-tooltip>
            </md-button>
        </div>
    </div>
  </md-toolbar>
  <md-content>
    <div layout-gt-md="row" layout-gt-sm="column" layout-sm="column">
        <div flex-gt-md="50" flex-gt-sm="100" flex-sm="100">
            <md-card class="md-card-editor" style="position:relative">
                <md-button class="md-fab md-fab-bottom-right" ng-click="openThemeChooser()">
                  <i class="fa fa-paint-brush">
                  </i>
                </md-button>
                <div ui-codemirror="{ onLoad: onEditorLoad }" ui-codemirror-opts="ui.editorConfig" ng-model="ui.snippet.code">
                </div>
            </md-card>
        </div>
        <div flex-gt-md="50" flex-gt-sm="100" flex-sm="100">
            <md-card class="md-card-terminal">
                <div id="terminal"></div>
            </md-card>
        </div>
    </div>
  </md-content>
</div>