html, body {
    height: 100%;
    margin: 0;
}

md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px;
}

.CodeMirror, #terminal {
  font-family: 'Source Code Pro';
}

.CodeMirror {
  font-size: 14px;
}

#terminal {
  font-size: 11px;
}

#terminal > .terminal {
  padding: 0.5em;
}

.md-tile-icon {
    font-size: 250%;
}

.md-snippet-language-icon {
  font-size: 200%;
}

.md-list-language-chooser .md-tile-name > h2 {
    margin-bottom: 0;
    margin-top: 0;
}

md-input-container.md-snippet-title.md-default-theme .md-input {
  color: white;
  text-overflow: ellipsis;
}

md-input-container.md-snippet-title label {
  visibility: hidden;
}

.md-card-terminal {
  padding: 5px;
}

md-toast.md-error i {
  color: red;
}